<div class="banner" style= "background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1583024673717-4ede2b33fd71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1010&q=80);">
  <h1 class="text-center">Save any kind of <strong class="colorfull">movie</strong></h1>
  <p class="text-center">The
  <%= link_to root_path, class:'colorfull-a' do %>
    <span>best collection</span>
  <% end %>
  of movie lists</p>
</div>

<div class="container my-5">
  <div class="cards">
    <% @lists.each do |list| %>
      <% if list.photo.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('<%= cl_image_path list.photo.key %>')">
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
      <% end %>
        <%= link_to list.name, list_path(list), class:'btn btn-lg' %>
      </div>
    <% end %>
  </div>

  <%= link_to 'Create a List!', new_list_path, class: 'btn btn-success my-3' %>
</div>
