// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$bkg-gray: hsla(207, 15%, 15%, 1);
$body-color: hsla(207, 5%, 100%, 1);
